@import 'bootstrap/dist/css/bootstrap.css';

html,
body {
  padding-top: 59px;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

body {
  background-color: rgb(226, 193, 255);
}

.dc {
  border: 5px solid white;
  margin: 8px;
}

.sc {
  border: 5px solid white;
  margin: 8px;
}

.m-3 {
  background-color: rgb(226, 193, 255);
  color: black;
}

.m-2 {
  background-color: lightblue;
  color: black;
}

.mc {
  height: 375px;
  border: 5px solid white;
  margin: 8px;
}

.bto {
  background-color: lightblue;
  width: 70px;
}

.btnBox {
  display: grid;
  margin-left: 170px;
  grid-template-columns: 20% 20% 20%;
}

.loop {
  margin-left: 240px;
  margin-top: 20px;
  margin-bottom: 8px;
}

.songBox {
  display: grid;
  grid-template-columns: 51% 51%;
}

.med {
  border: 5px solid white;
  margin: 8px;
}

.medBox{
  background-color: lightblue;
}

.title {
  width: 1200px;
  border: 5px solid white;
  margin-left: 5px;
}
